.booster-array-image {
     width: 20px;
 }

.boosters{
    width: 100%;
    height: 15vh;
    margin: 2vh 0;
    padding: 1vh;
    border: 1px solid #eee;
    border-radius: 20px;
    background-color: lightblue;
    overflow: hidden;
}